body{background-color: #f6f6f6; font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;}

#board{
	width: 80%;
	border: 1px solid #ccc;
	margin: auto;
	min-height: 300px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0 , 0 , 0 , 0.5);
	padding:0 10px 10px;
}

#board_top , #board_bottom {
	width: 100%;
	min-height: 50%;
	border: 1px dashed red;
	margin-top: 10px;
}