body{height: 100%; margin: 0px; padding: 0px; background-color: #f6f6f6}

ul{margin:0; padding:0; list-style: none;}
li{margin:0; padding:0;}

/* доска */
#board{
	height:80%;
	width: 80%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: auto;
	background-color: #fff;
	margin-top: 20px;
	padding: 10px;
}

.field{height:50%; list-style: none; text-align: center;}

/* нижние поля, разворачиваем */
.bottom_field{
	border: 1px solid green;
}

.bottom_field li{	
	border: 1px dashed red;
}

.test{
	display: table-cell;
	bottom: 0px;
}

.line{float: left; width:8%; margin-left: 1px; border: 1px dashed #c6c6c6}

.piece{
	border-radius: 40px;
	background-clip: padding-box;
	box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.25);
	width: 30px;
	height: 30px;
	margin: auto;	
	background-color: rgba(31, 203, 240, 1);
	position: relative;
}